<section class="flex flex-col gap-8">
    
    <div class="flex justify-between w-full">
        <h1 class="text-preset-1 text-ds-grey-900">Budgets</h1>
        <button class="bg-ds-grey-900 rounded-lg text-preset-4-bold text-white p-4 hover:bg-ds-grey-500">
            + Add New Budget
        </button>
    </div>
    

    <div class="flex gap-6">
        <div class="w-2/5">

            <div class="bg-white rounded-xl  p-8 flex flex-col gap-8">

            
            <div class="flex justify-center items-center">
                <div class="w-[240px] h-[240px] rounded-full relative" style="background: conic-gradient(#277C78 5%, #82C9D7 5% 82%,#F2CDAC 82% 89%,#626070 89% 100%);" >
                    <div class="absolute w-[187px] h-[187px] rounded-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 opacity-25 bg-white">
    
                    </div>
                    <div class="absolute w-40 h-40 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex flex-col justify-center items-center bg-white rounded-full z-20">
                        <p class="text-preset-1 text-ds-grey-900">$338</p>
                        <p class="text-preset-5 text-ds-grey-500">of $975 limit</p>
                    </div>
                </div>
            </div>

            <div class="flex flex-col gap-6">
                <h2 class="text-preset-2 text-ds-grey-900">Spending Summary</h2>
                    @for (budget of budgets ; track budget.category ; let first = $first) {
                        @if (first !== true) {
                            <div class="w-full h-[1px] bg-[#696868] opacity-15"></div>
                        }
                        <div class="flex justify-between gap-4">
                            <div class="flex items-center gap-4">
                                <div class="w-1 h-full rounded-lg bg-[{{ budget.theme }}]"></div>
                                <p class="text-preset-4 text-ds-grey-500">{{ budget.category }}</p>
                            </div>
                            <div class="flex items-center gap-2">
                                <p class="text-preset-3 text-ds-grey-900">{{ getTotalSpent(budget.category) | currency }}</p>
                                <p class="text-preset-5 text-ds-grey-500">of {{ budget.maximum | currency }}</p>
                            </div>
                        </div>
                    }
            </div>
            </div>
        </div>
        
        <div class="w-3/5 flex flex-col gap-6">
            
            @for (budget of budgets ; track budget.category ) {

            
                <div class="flex flex-col gap-5 rounded-xl bg-white p-8">
                    
                    <div class="flex justify-between items-center">
                        <div class="flex gap-4 items-center">
                            <div class="w-4 h-4 rounded-full bg-[{{ budget.theme }}]"></div>
                            <h2 class="text-preset-2 text-ds-grey-900">{{ budget.category }}</h2>
                        </div>
                        <img src="/images/icon-ellipsis.svg" alt="icon-ellipsis" class="hover:cursor-pointer"/>
                    </div>

                    <div class="flex flex-col gap-4">
                        <p class="text-preset-4 text-ds-grey-500">Maximum of {{ budget.maximum | currency }}</p>

                        
                        <div class=" h-8 w-full bg-ds-beige-100 rounded z-10 p-1">
                            <div 
                                class=" h-6 rounded z-20 bg-[{{ budget.theme }}] " 
                                [style.width.%]="getTotalSpent(budget.category) / budget.maximum * 100 < 100 
                                    ? getTotalSpent(budget.category) / budget.maximum * 100 
                                    : 100"
                            ></div>
                        </div>
                            
                        

                        <div class="flex gap-4">
                            <div class="flex gap-4 grow">
                                <div class="w-1 h-11 bg-[{{ budget.theme }}] rounded-lg"></div>
                                <div class="flex flex-col justify-between">
                                    <p class="text-preset-5 text-ds-grey-500">Spent</p>
                                    <p class="text-preset-4-bold text-ds-grey-900">{{ getTotalSpent(budget.category) | currency}}</p>
                                </div>
                            </div>

                            <div class="flex gap-4 grow">
                                <div class="w-1 h-11 bg-ds-beige-100 rounded-lg"></div>
                                <div class="flex flex-col justify-between">
                                    <p class="text-preset-5 text-ds-grey-500">Remaining</p>
                                    <p class="text-preset-4-bold text-ds-grey-900">{{ getRemaining(getTotalSpent(budget.category), budget.maximum) | currency}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col rounded-xl bg-ds-beige-100 p-5 gap-5">

                        <div class="flex justify-between">
                            <p class="text-preset-3 text-ds-beige-900">Latest Spending</p>
                            <a href="/transactions" >
                            <div class="flex items-center gap-3">
                                    <p class="text-preset-4 text-ds-grey-500 hover:text-ds-grey-900">See All</p>
                                    <img src="/images/icon-caret-right.svg" alt="icon-caret-right" />
                                </div>
                            </a>
                        </div>

                        <div class="flex flex-col gap-3">
                        @for (transaction of getTransactions(budget.category) ; track transaction.name; let first = $first) {
                            @if (first !== true){
                                <div class="w-full h-[1px] bg-[#696868] opacity-15"></div>
                            }
                            <div class="flex justify-between">
                                <div class="flex items-center gap-4">
                                    <img src="{{ transaction.avatar }}" alt="{{ transaction.name }}" class="w-8 h-8 rounded-full"/>
                                    <p class="text-preset-5-bold text-ds-grey-900">{{ transaction.name }}</p>
                                </div>
                                <div class="flex flex-col justify-between items-end">
                                    <p class="text-preset-5-bold text-ds-grey-900">{{ transaction.amount | currency }}</p>
                                    <p class="text-preset-5 text-ds-grey-500">{{ transaction.date | date }}</p>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>