<div class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-25 flex justify-center items-center z-50" 
    [ngClass]="showDeleteModal() === true ? 'block' : 'hidden'"
    (click)="closeOnOutsideClick($event)"
>
    <div class="w-[560px]  bg-white rounded-xl p-8 flex flex-col gap-5">
        <div class="flex justify-between items-center">
            <h1 class="text-preset-1 text-ds-grey-900">Delete - '{{ selectedBudget }}'</h1>
            <img src="/images/icon-close-modal.svg" alt="icon-close-modal" class="hover:cursor-pointer" (click)="closeDeleteModal()" />
        </div>        
        <p class="text-preset-4 text-ds-grey-500">
            Are you sure you want to delete this budget? This action cannot be reversed and all the data inside it will be removed forever.
        </p>       
        <div class="flex flex-col gap-4">
            
            <button class="text-preset-4-bold w-full bg-ds-red rounded-lg flex justify-center py-4 text-white hover:bg-opacity-80 transition-all duration-300">
                Yes, Confirm Deletion
            </button>

            <button class="text-preset-4 w-full bg-white rounded-lg border border-transparent flex justify-center py-4 text-ds-grey-500 hover:text-ds-grey-900 hover:border-ds-grey-900 transition-all duration-300"
                (click)="closeDeleteModal()"
            >
                No, Go Back
            </button>
        </div>        
    </div>
</div>
