<nav class="w-[300px] h-full flex flex-col grow gap-6 bg-ds-grey-900 rounded-r-[12px] text-white">
    <div class="w-full my-10 ml-8">
        <img src="/images/logo-large.svg" alt="Logo"/>
    </div>
    <div class="flex flex-col grow">
        <a routerLink="/">
            <div class="flex w-[276px] h-14 items-center gap-4 pl-8 rounded-r-[12px] bg-ds-beige-100 text-preset-3 text-ds-grey-900 border-l-4 border-ds-green">
                <img src="/images/icon-nav-overview.svg" alt="icon-overview" />
                <span>Overview</span>
            </div>
        </a>
        <a routerLink="/transactions">
            <div class="flex w-[276px] h-14 items-center gap-4 pl-8 text-ds-grey-300 hover:text-ds-grey-100 transition-all duration-300">
                <img src="/images/icon-nav-transactions.svg" alt="icon-transactions" />
                <span>Transactions</span>
            </div>
        </a>
        <a routerLink="/budgets">
            <div class="flex w-[276px] h-14 items-center gap-4 pl-8 text-ds-grey-300 hover:text-ds-grey-100 transition-all duration-300">
                <img src="/images/icon-nav-budgets.svg" alt="icon-budgets" />
                <span>Budgets</span>
            </div>
        </a>
        <a routerLink="/pots">
            <div class="flex w-[276px] h-14 items-center gap-4 pl-8 text-ds-grey-300 hover:text-ds-grey-100 transition-all duration-300">
                <img src="/images/icon-nav-pots.svg" alt="icon-pots" />
                <span>Pots</span>
            </div>
        </a>
        <a routerLink="/recurring-bills">
            <div class="flex w-[276px] h-14 items-center gap-4 pl-8 text-ds-grey-300 hover:text-ds-grey-100 transition-all duration-300">
                <img src="/images/icon-nav-recurring-bills.svg" alt="icon-recurring-bills" />
                <span>Recurring Bills</span>
            </div>
        </a>
    </div>
    <div class="flex items-center pt-4 pl-8 mb-[58px] gap-4 text-ds-grey-300 hover:text-ds-grey-100 hover:cursor-pointer transition-all duration-300">
        <img src="/images/icon-minimize-menu.svg" alt="minimize-icon" />
        <span>Minimize Menu</span>
    </div>
</nav>