<nav 
    class="lg:h-full lg:relative flex lg:flex-col w-[calc(100vw-(100vw-100%))] h-[52px] md:h-[74px] fixed bottom-0 bg-ds-grey-900 flex-row rounded-t-lg lg:rounded-r-[12px] lg:rounded-tl-none lg:gap-6 z-50"
    [ngClass]="isMinimised == true ? 'lg:w-[300px]' : 'lg:w-[88px]'"
>

    <div class="w-full my-10 ml-8 hidden lg:flex">
        @if (isMinimised === false) {
            <img src="/images/logo-small.svg" alt="Logo"/>
        } @else if(isMinimised === true) {
            <img src="/images/logo-large.svg" alt="Logo"/>
        }
    </div>

    <div class="flex gap-0 lg:flex-col grow w-full max-h-[750px] justify-around lg:justify-start items-end lg:items-start">
        <a routerLink="/" [ngClass]="isMinimised === true ? 'lg:pr-6' : 'lg:pr-2'" class="w-full">
            <app-nav-element>
                <img src="/images/icon-nav-overview.svg" alt="icon-overview" />
                @if (isMinimised === true) {
                    <span class="hidden md:block">Overview</span>
                }
            </app-nav-element>
        </a>
        <a routerLink="/transactions" [ngClass]="isMinimised === true ? 'lg:pr-6' : 'lg:pr-2'" class="w-full">
            <app-nav-element>
                <img src="/images/icon-nav-transactions.svg" alt="icon-transactions" />
                @if (isMinimised === true) {
                    <span  class="hidden md:block">Transactions</span>
                }
            </app-nav-element>
        </a>
        <a routerLink="/budgets" [ngClass]="isMinimised === true ? 'lg:pr-6' : 'lg:pr-2'" class="w-full">
            <app-nav-element>
                <img src="/images/icon-nav-budgets.svg" alt="icon-budgets" />
                @if (isMinimised === true) {
                    <span  class="hidden md:block">Budgets</span>
                }
            </app-nav-element>
        </a>
        <a routerLink="/pots" [ngClass]="isMinimised === true ? 'lg:pr-6' : 'lg:pr-2'" class="w-full">
            <app-nav-element>
                <img src="/images/icon-nav-pots.svg" alt="icon-pots" />
                @if (isMinimised === true) {
                    <span  class="hidden md:block">Pots</span>
                }
            </app-nav-element>
        </a>
        <a routerLink="/recurring-bills" [ngClass]="isMinimised === true ? 'lg:pr-6' : 'lg:pr-2'" class="w-full">
            <app-nav-element>
                <img src="/images/icon-nav-recurring-bills.svg" alt="icon-recurring-bills" />
                @if (isMinimised === true) {
                    <span  class="hidden md:block">Recurring Bills</span>
                }
            </app-nav-element>
        </a>
    </div>

    <div 
        class="hidden lg:flex items-center pt-4 pl-8 mb-[58px] gap-4 text-ds-grey-300 hover:text-ds-grey-100 hover:cursor-pointer transition-all duration-300"
        (click)="toggleMinimised()"
    >
        @if (isMinimised === true) {
            <img src="/images/icon-minimize-menu.svg" alt="minimize-icon" />
        } @else if (isMinimised === false) {
            <img src="/images/icon-minimize-menu.svg" alt="minimize-icon" class="rotate-180"/>
        }
        @if (isMinimised === true) {
            <span>Minimize Menu</span>  
        }
    </div>
</nav>