<section class="flex flex-col gap-8">
    
    <h1 class="text-preset-1 text-ds-grey-900">Transactions</h1>

    <div class="flex flex-col gap-6 rounded-xl bg-white p-8">

        <div class="flex w-full justify-between">
            <input type="search" placeholder="Search transaction" class="border border-ds-beige-500 w-full max-w-[320px] flex items-center rounded-lg py-3 pl-5"
                [value]="searchTerm"
                (input)="updateSearchTerm($event)"
                
            />
            <div class="flex gap-6">
                <div class="flex gap-2 items-center">
                    <p class="text-preset-4 text-ds-grey-500">Sort by</p>
                    <select class="border rounded-lg py-3 px-5 border-ds-beige-500"
                        (change)="updateSortBy($event)"
                    >
                        <option value="latest">Latest</option>
                        <option value="oldest">Oldest</option>
                        <option value="a-to-z">A to Z</option>
                        <option value="z-to-a">Z to A</option>
                        <option value="highest">Highest</option>
                        <option value="lowest">Lowest</option>
                    </select>
                </div>
                <div class="flex gap-2 items-center">
                    <p class="text-preset-4 text-ds-grey-500">Category</p>
                    <select class="border rounded-lg py-3 px-5 border-ds-beige-500"
                        (change)="updateCategory($event)"
                    >
                        <option value="">All Transactions</option>
                        <option value="Entertainment">Entertainment</option>
                        <option value="Bills">Bills</option>
                        <option value="Groceries">Groceries</option>
                        <option value="Dining Out">Dining Out</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Personal Care">Personal Care</option>
                        <option value="Education">Education</option>
                        <option value="Lifestyle">Lifestyle</option>
                        <option value="Shopping">Shopping</option>
                        <option value="General">General</option>
                    </select>
                </div>
            </div>
        </div>

        <div>
            <div class="hidden lg:flex justify-between py-3 px-4 gap-8">
                <p class="text-preset-5 text-ds-grey-500 w-1/2">Recipient / Sender</p>
                <div class="flex w-1/4">
                    <p class="text-preset-5 text-ds-grey-500 w-1/2">Category</p>
                    <p class="text-preset-5 text-ds-grey-500 w-1/2">Transaction Date</p>
                </div>
                <p class="text-preset-5 text-ds-grey-500 w-1/4 flex justify-end">Amount</p>
            </div>

            <div class="flex flex-col gap-4">
                @for (transaction of filteredTransactions().slice(pageination[0],pageination[1]); track transaction.name) {
                    <div class="w-full h-[1px] bg-[#696868] opacity-15"></div>

                    
                    <div class="hidden md:flex justify-between items-center px-4">
                        <div class="flex items-center gap-4 w-1/2">
                            <img src="{{ transaction.avatar }}" alt="{{ transaction.name }}" class="rounded-full w-10 h-10"/>
                            <p class="text-preset-4-bold text-ds-grey-900">{{ transaction.name }}</p>
                        </div>
                        
                        <div class="w-1/4 flex">
                            <p class="text-preset-5 text-ds-grey-500 w-1/2">{{ transaction.category }}</p>
                            <p class="text-preset-5 text-ds-grey-500 w-1/2">{{ transaction.date | date }}</p>
                        </div>
                        
                        <p class="text-preset-4-bold w-1/4 flex justify-end"
                            [ngClass]="transaction.amount > 0 ? 'text-ds-green' : 'text-ds-grey-900'"
                        >
                            {{ transaction.amount | currency }}
                        </p>
                    </div>

                    <div class="md:hidden flex justify-between items-center px-4">
                        <div class="flex w-full gap-[6px]">
                            <img src="{{ transaction.avatar }}" alt="{{ transaction.name }}" class="rounded-full w-8 h-8"/>
                            <div class="flex flex-col">
                                <p class="text-preset-4-bold text-ds-grey-900">{{ transaction.name }}</p>
                                <p class="text-preset-5 text-ds-grey-500 w-1/2">{{ transaction.category }}</p>
                            </div>
                        </div>
                        <div class="flex flex-col w-full ">
                            <p class="text-preset-4-bold text-ds-grey-500 w-1/2"
                                [ngClass]="transaction.amount > 0 ? 'text-ds-green' : 'text-ds-grey-900'"
                            >
                                {{ transaction.amount | currency }}
                            </p>
                            <p class="text-preset-5 text-ds-grey-500 w-1/2">{{ transaction.date | date }}</p>
                        </div>
                    </div>
                } 
            </div>
        </div>

        <div class="flex justify-between pt-6">
            <button 
                class="flex py-3 px-4 border items-center rounded-lg gap-4 transition-all duration-300"
                (click)="pageinationBack()"
                [disabled]="pages.length > 1 ? false : true"
                [ngClass]="pages.length > 1 ? 'group hover:bg-ds-beige-500' : null"
            >
                <img src="/images/icon-caret-left.svg" alt="caret-left" />
                <p class="text-preset-4 text-ds-grey-900 group-hover:text-white transition-all duration-300">Prev</p>
            </button>
            <div class="flex gap-2">
                <button
                    *ngFor="let page of pages" 
                    class="rounded-lg w-10 h-10 flex justify-center items-center border transition-all duration-300"
                    [ngClass]="page * 10 === pageination[0] ? 'text-white bg-ds-grey-900 hover:cursor-default' : 'hover:bg-ds-beige-500 hover:text-white hover:cursor-pointer'"
                    (click)="pageinationButton(page*10, page*10+10)"
                >
                    {{ page + 1 }}
                </button>
            </div>
            <button 
                class="flex py-3 px-4 border items-center rounded-lg gap-4 transition-all duration-300"
                (click)="pageinationNext()"
                [disabled]="pages.length > 1 ? false : true"
                [ngClass]="pages.length > 1 ? 'group hover:bg-ds-beige-500' : null"
            >
                <img src="/images/icon-caret-right.svg" alt="caret-right" />
                <p class="text-preset-4 text-ds-grey-900 group-hover:text-white transition-all duration-300">Next</p>
            </button>
        </div>

    </div>
</section>